[project]
name = "wgrib2-docs"
version = "0.1.0"
description = "Unofficial documentation for wgrib2"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "zensical>=0.0.11",
]

[dependency-groups]
dev = [
    "numpy>=2.3.5",
    "pandas>=2.3.3",
    "toml>=0.10.2",
]
